body {
  font-family: monospace;
  background-color: #313543;
}
.sticker-bg {
  padding-left: 20px;
  padding-right:20px;
  background-color: #eaeaea;
  width: fit-content;
  animation-name: print-sticker;
  animation-timing-function: linear;
  animation-duration: 2s;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* thanks to bigyicsabi for the animation 
 * https://codepen.io/bigyicsabi/pen/VwZmmeB */ 
@keyframes print-sticker{
0% {margin-top: -700px;}
20% {margin-top: -600px;}
50% {margin-top: -500px;}
100% {margin-top: 100px;}
}
.fileupload {
  height: 400px;
 /* padding: 255px;*/ 
  position: relative;
  font-size: 90%;
  text-decoration: none;
  color: #999;
  background: #fff;
  transition: all ease .5s;
  width: fit-content;
}
.fileupload:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-color: #ccc #eaeaea;
  border-width: 0 60px 60px 0;
  transition: all ease .5s;
}
.fileupload:hover:before {
  border-width: 0 150px 150px 0;
  border-color: #f2f2f2 #eaeaea;
}
.uploadform {
	padding: 10px;
}
input, select {
	font-size: 2vw;
	font-family: monospace;
}
.submit { 
	margin-top: 80px;
}
