body {
  font-family: monospace;
}
.sticker-bg {
  padding-left: 20px;
  padding-right:20px;
  background-color: #eaeaea;
  width: fit-content;
  animation-name: print-sticker;
  animation-timing-function: linear;
  animation-duration: 1s;
  margin-top: 100px;
  opacity: 0.7;
}
@keyframes print-sticker{
0% {margin-top: -700px;}
30% {margin-top: -600px;}
100% {margin-top: 100px;}
}
.fileupload {
  height: 400px;
  padding: 255px;
  position: relative;
  font-size: 90%;
  text-decoration: none;
  color: #999;
  background: #fff;
  transition: all ease .5s;
  width: fit-content;
}
.fileupload:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-color: #dfdfdf #eaeaea;
  border-width: 0 75px 75px 0;
  transition: all ease .5s;
}
.fileupload:hover:before {
  border-width: 0 150px 150px 0;
  border-color: #ccc #eaeaea;
}
.uploadform {
	padding: 10px;
}
input {
	font-size: 80px;
	font-family: monospace;
}
.submit { 
	margin-top: 80px;
}
